@import 'https://cdn.jsdelivr.net/gh/BeviProjects/BeviCSS@latest/dist/compressed/bevi.css';
@import 'https://cdn.jsdelivr.net/gh/BeviProjects/BeviIconFont@latest/dist/compressed/main.css';

body {
	position: relative;
	&::before {
		content: '';
		position: fixed;
		inset: 0;
		background: linear-gradient(206.57deg, #d6dbdc 0%, #ffffff 83.33%);
	}
}

a {
	color: inherit;
	text-decoration: none;
}

main {
	padding: 132px 0 6rem;
	min-height: 100vh;
}

code {
	position: relative;
	width: 100%;
	display: block;
	background-color: var(--bv-gray-01);
	padding: 1rem 4rem 1rem 2rem;
	border-radius: var(--bv-radius-lg);
	color: var(--bv-primary-01);
	line-height: 1;

	button {
		--_offset-strength: 0;
		--_background-color: var(--bv-gray-01);
		--_transition-motion-ok: opacity var(--bv-duration-normal)
				var(--bv-ease-in-out),
			background-color var(--bv-duration-normal) var(--bv-ease-in-out);
		position: absolute;
		top: 0;
		right: 0;
		opacity: 0;

		&:hover {
			--_background-color: var(--bv-gray-02);
		}
	}

	&:hover {
		button {
			opacity: 1;
		}
	}
}

.background-overlay {
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.25);
	transition: {
		duration: 0.25s;
		property: opacity;
		timing-function: ease-in-out;
	}
	&[data-animation='hide'] {
		opacity: 0;
	}

	&[data-animation='show'] {
		opacity: 1;
	}

	&[data-overlay='open'] {
		display: none;
	}

	&[data-overlay='close'] {
		display: flex;
	}
}
